<div class="px-[0rem]" *ngIf=" (sidebar$ | async)?.data?.type == 2 ">
  <div class="flex items-center cursor-pointer" [routerLink]="['../']">
    <i class="fas fa-backspace"></i> <span class="inline-block ml-[1rem]">Vissza</span>
  </div>

</div>

<div class="mt-[1.5rem]" *ngIf="{
  menu: (sidebar$ | async)?.data?.menu,
  type: (sidebar$ | async)?.data?.type
} as sidebar
">
  <div *ngFor="let sidebarElement of sidebar.menu | keyvalue; let i = index;">

    <a *ngIf="sidebarElement.value.url else withoutLink" target="_blank" href="{{ sidebarElement.value.url }}"
      class="cursor-pointer flex min-w-full  justify-start items-center w-full px-[0rem]">
      <span class="block w-[2rem] text-center  mr-[0.5rem]">
        <i class="{{ sidebarElement.value.ikon }}"></i>
      </span>
      {{ sidebarElement.value.nev }}
    </a>

    <ng-template #withoutLink>
      <a class="cursor-pointer flex min-w-full  justify-start items-center w-full px-[0rem]"
        [routerLink]=" ['/modules', sidebarElement.value.alias, sidebarElement.value.id]">
        <span class="block w-[2.5rem] text-center mr-[0.5rem]">
          <i class="{{sidebarElement.value.ikon}}"></i>
        </span>
        {{ sidebarElement.value.nev }}
      </a>
    </ng-template>

  </div>
</div>