<section class="text-[1.3rem] pb-[1.5rem]  font-light bg-white">
    <table class="table gp-table text-[#353535] w-full max-w-full w-[87rem]">

        <thead class="gp-table__header">
            <tr>
                <th class="gp-table__header__item w-[39rem]">
                    Termék neve
                </th>
                <th class="gp-table__header__item">
                    Mennyiség
                </th>
                <th class="gp-table__header__item">
                    Felütött db
                </th>
                <th class="gp-table__header__item">
                    Törlés
                </th>
            </tr>
        </thead>

        <tbody class="gp-table__body">

            <tr class="gp-table__body__item">
                <td>
                    E 30-as láda
                </td>
                <td>
                    <div class="!rounded-full label-default !justify-end overflow-hidden inline-flex !w-[22.5rem]">
                        <span class="w-4/12 pr-[0.5rem] text-right">88,888</span>
                        <span
                            class="flex items-center justify-center w-2/12 h-full bg-submitDisabled text-text">kg</span>
                        <span class="w-6/12 text-center ">
                            <a class="">
                                <i class="far fa-edit mr-[0.5rem]"></i>
                                <span>Módosítás</span>
                            </a>
                        </span>
                    </div>

                </td>
                <td>
                    <span class="!rounded-full label-default !justify-end ">88,888</span>
                </td>
                <td>
                    <a class="action-button is--delete is--small">
                        <i class="far fa-trash-alt mr-[0.7rem]"></i> <span>Törlés</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</section>