<header class="relative z-40 text-white bg-brown">
    <div class="px-[3rem] h-[5.5rem] flex items-center">
        <div class="text-[3rem] flex cursor-pointer" (click)="onSidebarToggle()">
            <i class=" fas fa-list-alt"></i>
        </div>
        <div class="ml-[2.5rem] font-light">
            <h1 class="text-[2.4rem] font-normal">
                <span class="font-semibold">Gastro</span>
                <span class="text-[#cccccc]">Prof</span>
                <span class="text-[1.6rem]"> by Matusz-Vad Zrt.</span>
            </h1>
        </div>
    </div>
</header>