<div *ngIf="sidebarElement">
    <a *ngIf="sidebarElement.url else withoutLink" target="_blank" href="{{ sidebarElement.url }}"
        class="cursor-pointer">
        <vir-sidebar-link-item [sidebarElement]="sidebarElement"></vir-sidebar-link-item>
    </a>

    <ng-template #withoutLink>
        <a class="cursor-pointer" [routerLink]=" ['/modules', sidebarElement.alias, sidebarElement.id]">
            <vir-sidebar-link-item [sidebarElement]="sidebarElement"></vir-sidebar-link-item>
        </a>
    </ng-template>
</div>