form.ng-dirty {
  .ng-dirty.ng-invalid {
    background-image: url(../icons/alert/invalid.svg);

    @apply bg-no-repeat;
    background-position: calc(100% - 1.8rem) 50%;
    background-size: auto;
    background-size: 2.4rem auto;
  }
}

.multiple {
  .disabled {
    @apply pointer-events-none bg-brown text-white cursor-not-allowed;
  }
}

.form {
  input {
    @apply block h-[5rem] w-full bg-[#f8f8f8] rounded-2xl border-[#cfcfd1] border-[1px] px-[2rem] text-[1.4rem] text-[#666666] focus:outline-none;
  }
  textarea {
    @apply block h-[20rem] w-full bg-[#f8f8f8] rounded-2xl border-[#cfcfd1] border-[1px] px-[2rem] text-[1.4rem] text-[#666666] focus:outline-none py-[2rem];
  }

  &__control {
    @apply mt-4;
  }
}
