<div class="container mx-auto py-[3rem]">
    <gastroprof-permission-list [originalAllowed]="moduleData.allowed_positions" [all]="moduleData.employee_positions"
        (newAndRemovedChange)="convertChange($event)">
    </gastroprof-permission-list>
    <section *ngIf="newForm" class="bg-white form p-[1.5rem]">
        <form (ngSubmit)="onSubmit(newForm)" [formGroup]="newForm">
            <input type="hidden" name="uj_hozzaadott" formControlName="uj_hozzaadott">
            <input type="hidden" name="uj_eltavolitott" formControlName="uj_eltavolitott">
            <input type="hidden" name="id" formControlName="id">
            <div class="gp-input">
                <label for="module_id">{{ "form.moduleID" | translate }}</label>
                <select name="module_id" formControlName="w_vir_modul_id" id="module_id" *ngIf="modules">
                    <option *ngFor="let module of modules" [value]="module.w_vir_modul_id">
                        {{ module.nev }}
                    </option>
                </select>
            </div>
            <div class="gp-input">
                <label for="ikon">{{ "form.icon" | translate }}</label>
                <input type="text" formControlName="ikon" placeholder="pl: fa fa-users-cog" id="ikon">
            </div>
            <div class="gp-input">
                <label for="nev">{{ "form.name" | translate }}</label>
                <input type="text" formControlName="nev" placeholder="nev" id="nev">
            </div>
            <div class="gp-input">
                <label for="nev_url">{{ "form.nameUrl" | translate }}</label>
                <input type="text" formControlName="nev_url" placeholder="Név url" id="nev_url" readonly>
            </div>
            <div class="gp-input">
                <label for="url">{{ "form.url" | translate }}</label>
                <input type="text" formControlName="url" placeholder="url" readonly>
            </div>
            <div class="gp-input">
                <button type="submit">{{ 'form.save' | translate }}</button>
            </div>
        </form>
    </section>
</div>