<section class="pda px-[1.5rem] py-[3rem]">
    <div class="flex flex-col justify-between h-full">

        <div class="pda__title">Ellenőrzés</div>


        <div class="pda__content">
            <div class="text-center text-[2.8rem]">Az ellenőrzéshez olvassa le a
                tárhely vagy a rakat vonalkódját!</div>
        </div>
        <div class="cursor-pointer pda__menu__item" (click)="onSwitch(0)">
            <div class="pda__menu__item__icon">
                <span>0</span>
            </div>
            <div class="pda__menu__item__title">
                Főmenü
            </div>
        </div>

    </div>
</section>