<section class="text-[1.4rem] pt-[1rem] pb-[2rem] font-light bg-white">
    <form class="flex items-end">
        <div class="!mb-0 gp-input mr-[2rem]">
            <label for="input_date">Dátum</label>
            <input type="date" id="input_date" class="!rounded-full">
        </div>
        <div class="!mb-0 gp-input mr-[2rem]">
            <label for="input_warehouse">Raktár</label>
            <select id="input_warehouse" class="!rounded-full">
                <option value="Győr - fagyos">Győr - fagyos</option>
            </select>
        </div>
        <div class="!mb-0 gp-button">
            <button type="submit" class="!rounded-full">Mutat</button>
        </div>
    </form>
</section>

<section class="text-[1.3rem] pb-[1.5rem]  font-light bg-white">
    <table class="table gp-table text-[#353535] !w-full max-!w-full">

        <thead class="gp-table__header">
            <tr>
                <th class="gp-table__header__item">
                    Túra neve
                </th>
                <th class="gp-table__header__item">
                    Kimért súly
                </th>
                <th class="gp-table__header__item">
                    Szalag<br>
                    sorszáma
                </th>
                <th class="gp-table__header__item">
                    Súly kg
                </th>
                <th class="gp-table__header__item">
                    Tétel db
                </th>
                <th class="gp-table__header__item">
                    GK Rendszám
                </th>
                <th class="gp-table__header__item">
                    Státusz
                </th>
            </tr>
        </thead>

        <tbody class="gp-table__body">

            <tr class="gp-table__body__item">
                <td>
                    Győri 1-es túra
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <div class="label-wrapper">
                        <select class="label-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a class="label-button">
                            <i class="far fa-edit mr-[0.5rem]"></i>
                            <span>Módosítás</span>
                        </a>
                    </div>
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <input class="label-default is--small" value="2154 kg">
                </td>
                <td>
                    <div class="label-default">PZT-865</div>
                </td>
                <td>
                    <button class="label-warning">Számlázva</button>
                </td>
            </tr>

            <tr class="gp-table__body__item">
                <td>
                    Győri 1-es túra
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <div class="label-wrapper">
                        <select class="label-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a class="label-button">
                            <i class="far fa-edit mr-[0.5rem]"></i>
                            <span>Módosítás</span>
                        </a>
                    </div>
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <input class="label-default is--small" value="2154 kg">
                </td>
                <td>
                    <div class="label-default">PZT-865</div>
                </td>
                <td>
                    <button class="label-warning">Számlázva</button>
                </td>
            </tr>

            <tr class="gp-table__body__item">
                <td>
                    Győri 1-es túra
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <div class="label-wrapper">
                        <select class="label-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a class="label-button">
                            <i class="far fa-edit mr-[0.5rem]"></i>
                            <span>Módosítás</span>
                        </a>
                    </div>
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <input class="label-default is--small" value="2154 kg">
                </td>
                <td>
                    <div class="label-default">PZT-865</div>
                </td>
                <td>
                    <button class="label-success">Választ</button>
                </td>
            </tr>

            <tr class="gp-table__body__item">
                <td>
                    Győri 1-es túra
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <div class="label-wrapper">
                        <select class="label-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a class="label-button">
                            <i class="far fa-edit mr-[0.5rem]"></i>
                            <span>Módosítás</span>
                        </a>
                    </div>
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <input class="label-default is--small" value="2154 kg">
                </td>
                <td>
                    <div class="label-default">PZT-865</div>
                </td>
                <td>
                    <button class="label-action">Mérés</button>
                </td>
            </tr>

            <tr class="gp-table__body__item">
                <td>
                    Győri 1-es túra
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <div class="label-wrapper">
                        <select class="label-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a class="label-button">
                            <i class="far fa-edit mr-[0.5rem]"></i>
                            <span>Módosítás</span>
                        </a>
                    </div>
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <input class="label-default is--small" value="2154 kg">
                </td>
                <td>
                    <div class="label-default">PZT-865</div>
                </td>
                <td>
                    <button class="label-warning">STOP</button>
                </td>
            </tr>

            <tr class="gp-table__body__item">
                <td>
                    Győri 1-es túra
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <div class="label-wrapper">
                        <select class="label-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a class="label-button">
                            <i class="far fa-edit mr-[0.5rem]"></i>
                            <span>Módosítás</span>
                        </a>
                    </div>
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <input class="label-default is--small" value="2154 kg">
                </td>
                <td>
                    <div class="label-default">PZT-865</div>
                </td>
                <td>
                    <button class="label-success">Választ</button>
                </td>
            </tr>

            <tr class="gp-table__body__item">
                <td>
                    Győri 1-es túra
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <div class="label-wrapper">
                        <select class="label-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a class="label-button">
                            <i class="far fa-edit mr-[0.5rem]"></i>
                            <span>Módosítás</span>
                        </a>
                    </div>
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <input class="label-default is--small" value="2154 kg">
                </td>
                <td>
                    <div class="label-default">PZT-865</div>
                </td>
                <td>
                    <button class="label-warning">STOP</button>
                </td>
            </tr>

            <tr class="gp-table__body__item">
                <td>
                    Győri 1-es túra
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <div class="label-wrapper">
                        <select class="label-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a class="label-button">
                            <i class="far fa-edit mr-[0.5rem]"></i>
                            <span>Módosítás</span>
                        </a>
                    </div>
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <input class="label-default is--small" value="2154 kg">
                </td>
                <td>
                    <div class="label-default">PZT-865</div>
                </td>
                <td>
                    <button class="label-success">Választ</button>
                </td>
            </tr>

            <tr class="gp-table__body__item">
                <td>
                    Győri 1-es túra
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <div class="label-wrapper">
                        <select class="label-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a class="label-button">
                            <i class="far fa-edit mr-[0.5rem]"></i>
                            <span>Módosítás</span>
                        </a>
                    </div>
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <input class="label-default is--small" value="2154 kg">
                </td>
                <td>
                    <div class="label-default">PZT-865</div>
                </td>
                <td>
                    <button class="label-success">Választ</button>
                </td>
            </tr>

            <tr class="gp-table__body__item">
                <td>
                    Győri 1-es túra
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <div class="label-wrapper">
                        <select class="label-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <a class="label-button">
                            <i class="far fa-edit mr-[0.5rem]"></i>
                            <span>Módosítás</span>
                        </a>
                    </div>
                </td>
                <td>
                    <input class="label-default is--small" value="1587 kg">
                </td>
                <td>
                    <input class="label-default is--small" value="2154 kg">
                </td>
                <td>
                    <div class="label-default">PZT-865</div>
                </td>
                <td>
                    <button class="label-success">Választ</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>