<div class="font-normal text-text w-[50rem] px-[3rem] pt-[2rem] max-w-full">
    <div class="text-[2.4rem] ">
        Figyelem!
    </div>
    <div class="font-light text-[1.8rem] mt-[1rem]">
        <p>Amennyiben a kimérést a “ZÁRÁS” gombra kattintva lezárja, csak addig tudja a túrát módosításra újból
            megnyitni,
            ameddig a túra választó a képernyőn a Túra státusza nem változik “SZÁMLÁZVA” Státuszúra! </p>
        <div class="gp-button mt-[3rem]">
            <button>Zárás</button>
        </div>
    </div>
</div>