<aside class="warehouse-sidebar  w-[45rem]">

    <div class=" warehouse-sidebar__item">
        <div class="warehouse-sidebar__item__icon ">
            <i class="far fa-calendar-check"></i>
        </div>
        <div class=" warehouse-sidebar__item__text">
            <div class="warehouse-sidebar__item__label ">
                Túra megnevezése:
            </div>
            <div class=" warehouse-sidebar__item__text__value">
                Győri 1-es túra
            </div>
        </div>
    </div>

    <div class=" warehouse-sidebar__item">
        <div class="warehouse-sidebar__item__icon ">
            <i class="far fa-calendar-check"></i>
        </div>
        <div class=" warehouse-sidebar__item__text">
            <div class="warehouse-sidebar__item__label ">
                Szalag sorszáma
            </div>
            <div class=" warehouse-sidebar__item__text__value">
                3
            </div>
        </div>
    </div>

    <div class=" warehouse-sidebar__item">
        <div class="warehouse-sidebar__item__icon ">
            <i class="far fa-calendar-check"></i>
        </div>
        <div class=" warehouse-sidebar__item__text">
            <div class="warehouse-sidebar__item__label ">
                Hátralévő kiméretlen tételszám
            </div>
            <div class=" warehouse-sidebar__item__text__value">
                245
            </div>
        </div>
    </div>

    <div class=" warehouse-sidebar__item">
        <div class="warehouse-sidebar__item__icon ">
            <i class="far fa-calendar-check"></i>
        </div>
        <div class=" warehouse-sidebar__item__text">
            <div class="warehouse-sidebar__item__label ">
                Hátralévő kiméretlen súly (kg)
            </div>
            <div class=" warehouse-sidebar__item__text__value">
                745
            </div>
        </div>
    </div>

    <div class=" warehouse-sidebar__item">
        <div class="warehouse-sidebar__item__icon ">
            <i class="far fa-calendar-check"></i>
        </div>
        <div class=" warehouse-sidebar__item__text">
            <div class="warehouse-sidebar__item__label ">
                Kiméréssel eltelt idő percben
            </div>
            <div class=" warehouse-sidebar__item__text__value">
                00:12:24
            </div>
        </div>
    </div>

    <div class=" warehouse-sidebar__item">
        <div class="warehouse-sidebar__item__icon ">
            <i class="far fa-calendar-check"></i>
        </div>
        <div class=" warehouse-sidebar__item__text">
            <div class="warehouse-sidebar__item__label ">
                Gépkocsi rendszáma
            </div>
            <div class=" warehouse-sidebar__item__text__value">
                GKM-893
            </div>
        </div>
    </div>

    <div class=" warehouse-sidebar__item">
        <div class="warehouse-sidebar__item__icon ">
            <i class="far fa-calendar-check"></i>
        </div>
        <div class=" warehouse-sidebar__item__text">
            <div class="warehouse-sidebar__item__label ">
                Kezeletlen hibás tételszám
            </div>
            <div class=" warehouse-sidebar__item__text__value">
                10
            </div>
        </div>
    </div>

    <div class=" warehouse-sidebar__item">
        <div class="warehouse-sidebar__item__icon ">
            <i class="far fa-calendar-check"></i>
        </div>
        <div class=" warehouse-sidebar__item__text">
            <div class="warehouse-sidebar__item__label ">
                Felütött göngyöleg
            </div>
            <div class="flex flex-row warehouse-sidebar__item__text__value">
                <div class="warehouse-sidebar__item__text__value__col">
                    <div>
                        <span>E30 láda</span> <span>10</span>
                    </div>
                    <div>
                        <span>M2 láda</span> <span>20</span>
                    </div>
                    <div>
                        <span>M10 láda</span> <span>21</span>
                    </div>
                </div>
                <div class="warehouse-sidebar__item__text__value__col">
                    <div>
                        <span>M30 láda</span>
                        <span>12</span>
                    </div>
                    <div>
                        <span>Termobox</span> <span>5</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</aside>