<section class="pda px-[1.5rem] py-[1.5rem]">
    <div class="pda__title">Főmenü</div>

    <div class="pda__menu">
        <div class="cursor-pointer pda__menu__item" (click)="onSwitch(1)">
            <div class="pda__menu__item__icon">
                <span>1</span>
            </div>
            <div class="pda__menu__item__title">
                Áttárolás Ált Tárhely
            </div>
        </div>
        <div class="cursor-pointer pda__menu__item" (click)="onSwitch(2)">
            <div class="pda__menu__item__icon">
                <span>2</span>
            </div>
            <div class="pda__menu__item__title">
                Áttárolás Kom Tárhely
            </div>
        </div>
        <div class="cursor-pointer pda__menu__item" (click)="onSwitch('0')">
            <div class="pda__menu__item__icon">
                <span>0</span>
            </div>
            <div class="pda__menu__item__title">
                Vissza
            </div>
        </div>
    </div>
    <div class="pda__menu">

    </div>
</section>