<section class="pda px-[1.5rem] py-[1.5rem]">
    <div class="flex flex-col justify-between h-full">
        <div class="pda__title">Ellenőrzés</div>
        <ng-container *ngIf="!isChecked; else checkedContent">
            <div class="pda__content">
                <div class="text-center text-[2.8rem]">Az ellenőrzéshez olvassa le a
                    tárhely vonalkódját!</div>
            </div>
        </ng-container>
        <ng-template #checkedContent>
            <div class="pda__content ">
                <div class="text-[2.4rem] font-semibold text-center mb-[3rem]">R.{{ storage?.utolso_betolt_rakat }} |
                    K1/1/03
                </div>
                <div class="text-[1.8rem] mb-[2rem]">
                    {{ storage?.cikk_nev }}
                </div>
                <div class="text-[1.8rem] flex justify-between mb-[1rem]">
                    <div class="text-left">
                        N: {{ storage?.akt_menny | number }} kg
                    </div>
                    <div class="text-right">
                        T: 0
                    </div>
                </div>
                <div class="text-[1.8rem] flex justify-between  mb-[2rem]">
                    <div class="text-left">
                        B: {{ storage?.akt_menny | number }} kg
                    </div>
                    <div class="text-right">
                        KOM.INF:0
                    </div>
                </div>
                <div class="text-[1.8rem]  mb-[4rem]">
                    Lejár.dát: {{ storage?.idopont | date:'yy-MM-d':'hu-hu' }}
                </div>
            </div>
        </ng-template>
        <div class="!mb-0 cursor-pointer pda__menu__item" (click)="onSwitch('0')">
            <div class="pda__menu__item__icon">
                <span>0</span>
            </div>
            <div class="pda__menu__item__title">
                Főmenü
            </div>
        </div>
    </div>
</section>