<div class="flex justify-between">
    <div>
        <div class="warehouse-sidebar__item !bg-[#DFF2F6]">
            <div class="warehouse-sidebar__item__icon  text-[2.4rem]">
                <i class="far fa-calendar-check"></i>
            </div>
            <div class="inline-flex flex-col justify-center warehouse-sidebar__item__text">
                <div class="warehouse-sidebar__item__text__value">
                    Logisztikai nr.
                </div>
                <div class="warehouse-sidebar__item__label mt-[0.5rem] !mb-0">
                    3
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="warehouse-sidebar__item  !bg-[#DFF2F6]">
            <div class="warehouse-sidebar__item__icon  text-[2.4rem]">
                <i class="far fa-calendar-check"></i>
            </div>
            <div class="inline-flex flex-col justify-center warehouse-sidebar__item__text">
                <div class="warehouse-sidebar__item__text__value">Hiányzó kimérési tételt tartalmazó étterem neve</div>
                <div class="warehouse-sidebar__item__label mt-[0.5rem] !mb-0">Paprika Csárda</div>
            </div>
        </div>
    </div>
    <div>
        <div class="warehouse-sidebar__item  !bg-[#DFF2F6]">
            <div class="warehouse-sidebar__item__icon  text-[2.4rem]">
                <i class=" far fa-calendar-check"></i>
            </div>
            <div class="inline-flex flex-col justify-center warehouse-sidebar__item__text">
                <div class="warehouse-sidebar__item__text__value">Kiszedést végző munkatárs neve </div>
                <div class="warehouse-sidebar__item__label mt-[0.5rem] !mb-0">Tóth János</div>
            </div>
        </div>
    </div>
</div>

<section class="text-[1.3rem] mt-[2.5rem]  font-light bg-white">
    <table class="table gp-table text-[#353535] max-!w-full w-full">

        <thead class="gp-table__header">
            <tr>
                <th class="gp-table__header__item">
                    Termék neve
                </th>
                <th class="gp-table__header__item">
                    Mért bruttó súly
                </th>
                <th class="gp-table__header__item">
                    Tára súly
                </th>
                <th class="gp-table__header__item">
                    Nettó Súly
                </th>
                <th class="gp-table__header__item">
                    Rendelt Mennyiség
                </th>
                <th class="gp-table__header__item">
                    Eltérés %
                </th>

            </tr>
        </thead>

        <tbody class="gp-table__body">

            <tr class="gp-table__body__item">
                <td>
                    <div>
                        Csokis péksütemény (vajas) mini Gourmand Pastries
                    </div>
                    <div class="text-[1.2rem]">
                        Szabadkészlet: 0 kg
                    </div>
                </td>

                <td>
                    <div class="label-wrapper">
                        <input class="rounded-input !w-[9rem] " value="1">
                        <span
                            class="inline-flex items-center justify-center h-full bg-submitDisabled text-text w-[2.7rem] h-[3rem]">kg</span>
                    </div>
                </td>
                <td>
                    <div class="label-wrapper">
                        <input class="rounded-input !w-[9rem] " value="1">
                        <span
                            class="inline-flex items-center justify-center h-full bg-submitDisabled text-text w-[2.7rem] h-[3rem]">kg</span>
                    </div>
                </td>
                <td>
                    <div class="text-center">12,11</div>
                </td>
                <td>
                    <div class="text-center">12</div>
                </td>
                <td>
                    <div class="info-not info">
                        %
                    </div>
                </td>

            </tr>

            <tr class="gp-table__body__item">
                <td>
                    <div>
                        Csokis péksütemény (vajas) mini Gourmand Pastries
                    </div>
                    <div class="text-[1.2rem]">
                        Szabadkészlet: 0 kg
                    </div>
                </td>

                <td>
                    <div class="label-wrapper">
                        <input class="rounded-input !w-[9rem] " value="1">
                        <span
                            class="inline-flex items-center justify-center h-full bg-submitDisabled text-text w-[2.7rem] h-[3rem]">kg</span>
                    </div>
                </td>
                <td>
                    <div class="label-wrapper">
                        <!-- <i class="fas fa-angle-down label-icon"></i>
                        <select class="label-select !w-[9rem]">
                            <option value="1" ng-reflect-value="1">1</option>
                            <option value="2" ng-reflect-value="2">2</option>
                            <option value="3" ng-reflect-value="3">3</option>
                        </select> -->
                        <input class="rounded-input !w-[9rem] " value="1">
                        <span
                            class="inline-flex items-center justify-center h-full bg-submitDisabled text-text w-[2.7rem] h-[3rem]">kg</span>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        12,11
                    </div>
                </td>
                <td>
                    <div class="text-center">12</div>
                </td>
                <td>
                    <div class="info-not info">
                        %
                    </div>
                </td>

            </tr>

            <tr class="gp-table__body__item">
                <td>
                    <div>
                        Csokis péksütemény (vajas) mini Gourmand Pastries
                    </div>
                    <div class="text-[1.2rem]">
                        Szabadkészlet: 0 kg
                    </div>
                </td>

                <td>
                    <div class="label-wrapper">
                        <input class="rounded-input !w-[9rem] is--input-changed " value="14,11">
                        <span
                            class="inline-flex items-center justify-center h-full bg-submitDisabled text-text w-[2.7rem] h-[3rem]">kg</span>
                    </div>
                </td>
                <td>
                    <div class="label-wrapper">
                        <input class="rounded-input !w-[9rem] is--input-changed " value="14,11">
                        <span
                            class="inline-flex items-center justify-center h-full bg-submitDisabled text-text w-[2.7rem] h-[3rem]">kg</span>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        12,11
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        12
                    </div>
                </td>
                <td>
                    <div class="info-success info">
                        0 %
                    </div>
                </td>

            </tr>

            <tr class="gp-table__body__item">
                <td>
                    <div>
                        Csokis péksütemény (vajas) mini Gourmand Pastries
                    </div>
                    <div class="text-[1.2rem]">
                        Szabadkészlet: 0 kg
                    </div>
                </td>

                <td>
                    <div class="label-wrapper">
                        <input class="rounded-input !w-[9rem] is--input-changed " value="14,11">
                        <span
                            class="inline-flex items-center justify-center h-full bg-submitDisabled text-text w-[2.7rem] h-[3rem]">kg</span>
                    </div>
                </td>
                <td>
                    <div class="label-wrapper">

                        <input class="rounded-input !w-[9rem] is--input-changed " value="14,11">
                        <span
                            class="inline-flex items-center justify-center bg-submitDisabled text-text w-[2.7rem] h-[3rem]">kg</span>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        12,11
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        12
                    </div>
                </td>
                <td>
                    <div class="info-warning info">
                        30 %
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section class="pt-[4rem]">
    <div class="flex items-end mb-[2rem]">
        <div class="w-4/12 gp-button pr-[2rem] !mb-0 ">
            <button class="!flex !w-full  !text-[1.4rem]">Helyettesítő termék vonalkód beolvasása</button>
        </div>
        <div class="w-5/12 gp-input pr-[2rem] !mb-0">
            <label for="">Termék neve</label>
            <input type="number" value="Sertés karaj csont nélkül">
        </div>
        <div class="w-2/12 gp-input  !mb-0">
            <label for="">Mért súly Kg</label>
            <input type="number" value="">
        </div>
    </div>
    <div class="flex items-center">
        <div class="w-4/12 gp-button pr-[2rem] !mb-0">
            <button class="!flex !w-full !text-[1.4rem]">Helyettesítő termék vonalkód beolvasása</button>
        </div>
        <div class="w-5/12 gp-input pr-[2rem] !mb-0 ">
            <input type="number" value="Sertés karaj csont nélkül">
        </div>
        <div class="w-2/12 gp-input !mb-0">
            <input type="number" value="">
        </div>
    </div>
</section>

<section class="pt-[4rem]">
    <div class="flex justify-center align-center">

        <div class="cursor-pointer mr-[10rem]">
            <i class="fas fa-arrow-circle-left text-[7rem] text-blue"></i>
        </div>
        <div class="gp-button w-[15rem]">
            <button class="!flex !w-full !text-[1.4rem]">Mentés</button>
        </div>
        <div class="cursor-pointer ml-[10rem]">
            <i class="fas fa-arrow-circle-right text-[7rem] text-blue"></i>
        </div>
    </div>
</section>