<a class="cursor-pointer" *ngIf="!sidebarElement.submenu" [routerLink]="[moduleUrl, sidebarElement.alias]">
    <vir-sidebar-link-item [sidebarElement]=" sidebarElement"></vir-sidebar-link-item>
</a>

<div *ngIf="sidebarElement.submenu">
    <a class="cursor-pointer" (click)="toggleOpener()">
        <vir-sidebar-link-item [sidebarElement]=" sidebarElement"></vir-sidebar-link-item>
    </a>
    <div [ngClass]="{hidden: !isOpen}"
        *ngFor="let sidebarSubMenuElement of sidebarElement.submenu | keyvalue; let i = index;" class="pl-[1rem]">
        <a href="">
            <vir-sidebar-link-item [sidebarElement]="sidebarSubMenuElement.value"></vir-sidebar-link-item>
        </a>
    </div>
</div>