@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html {
    font-size: 62.5%;
}
body {
    font-size: 1.9rem;
}

@media (max-width: 320px) {
    header,
    footer {
        display: none;
    }
}

@media (max-height: 442px) {
    header,
    footer {
        display: none;
    }
}
