<div class="container mx-auto py-[3rem]">
    <section class="flex flex-row text-[1.4rem] multiple bg-white  p-[1.5rem]">
        <div class="w-1/2 ">
            <div *ngIf="moduleData.employee_positions" class="max-h-[30rem] overflow-auto gp-list">
                <div *ngFor="let employee_position of moduleData.employee_positions" class="gp-list__item"
                    [ngClass]="{'cursor-not-allowed ': isElementDisabled(employee_position)}">
                    <div (click)="onPushToAllowed(employee_position)"
                        [ngClass]="{'is-disabled ': isElementDisabled(employee_position)}"
                        class="p-[0.5rem] gp-list__item__inner">
                        <span>{{ employee_position.nev }}</span>
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-[1rem] w-1/2">
            <div *ngIf="moduleData.allowed_positions" class="max-h-[30rem] overflow-auto gp-list">
                <div *ngFor="let allowed_position of moduleData.allowed_positions" class="gp-list__item">
                    <div (click)="onRemoveFromAllowed(allowed_position)"
                        class="is-disabled allowed p-[0.5rem] gp-list__item__inner">
                        <span>{{ allowed_position.nev }}</span>
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section *ngIf="editForm" class="bg-white form p-[1.5rem]">
        <form (ngSubmit)="onSubmit(editForm)" [formGroup]="editForm">
            <input type="hidden" name="newAllowed" formControlName="newAllowed">
            <input type="hidden" name="newRemoved" formControlName="newRemoved">
            <input type="hidden" name="id" formControlName="id">
            <div class="gp-input">
                <label for="module_id">Modul ID</label>
                <input type="text" formControlName="w_vir_modul_id" id="module_id" readonly>
            </div>
            <div class="gp-input">
                <label for="ikon">Ikon</label>
                <input type="text" formControlName="ikon" placeholder="pl: fa fa-users-cog" id="ikon">
            </div>
            <!-- <div class="gp-input">
                <label for="kep">Kép</label>
                <input type="file" formControlName="kep" name="fileInput" id="kep">
                <img *ngIf="editForm.value.kep" [src]="editForm.value.kep" alt="">
            </div>
            <div class="gp-input">
                <label for="leiras">Leírás</label>
                <textarea name="" formControlName="leiras" placeholder="leiras" id="leiras"></textarea>
            </div> -->
            <div class="gp-input">
                <label for="nev">Név</label>
                <input type="text" formControlName="nev" placeholder="nev" id="nev">
            </div>
            <div class="gp-input">
                <label for="nev_url">Név URL</label>
                <input type="text" formControlName="nev_url" placeholder="Név url" id="nev_url" readonly>
            </div>
            <div class="gp-input">
                <label for="url">URL</label>
                <input type="text" formControlName="url" placeholder="url" readonly>
            </div>
            <div class="gp-input">
                <button type="submit">Mentés</button>
            </div>
        </form>
    </section>
</div>